[user]
	name = Alex Du Bois
	email = alex.dubois@mac.com
[mergetool "Kaleidoscope"]
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
